.lightbox-container {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}
/* ACTION */
.lightbox-action-container {
  display: flex;
  justify-content: end;
}
.lightbox-action-btn {
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  font-size: large;
  margin: 5px;
  border-radius: 3px;
  font-weight: bold;
}
#lightbox-action-download::after {
  content: "↧";
}
#lightbox-action-zoom::after {
  content: "+";
}
#lightbox-action-reset::after {
  content: "1:1";
  font-size: smaller;
}
#lightbox-action-close::after {
  content: "×";
}
#lightbox-action-rotate::after {
  content: "↻";
}
#lightbox-action-gallery::after {
  content: "::";
}
#lightbox-gallery-btn::after {
  content: "::";
}
/* CONTENT */
.lightbox-content {
  width: 100%;
  height: 90%;
  margin-top: 10px;
  /* background-color: black; */
  margin-bottom: 10px;
  display: grid;
  place-items: center;
  overflow: hidden;
}
/* WAY 1: render image as background */
.lightbox-content > div {
  width: 80%;
  height: 100%;
  /* background-image: url("https://picsum.photos/600"); */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  transition: ease;
  transition-duration: 150ms;
}
/* WAY 2: render use img tag */
/* .lightbox-content > div {
  max-width: 350px;
  height: 100%;
  overflow: hidden;
}
.lightbox-content > div > img {
  width: 100%;
  object-fit: contain;
} */
/* PAGINATION */
.lightbox-pagination {
  display: flex;
  justify-content: center;
}
.lightbox-pagination-btn {
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  font-size: larger;
  width: 35px;
  height: 35px;
  margin-left: 10px;
  margin-right: 10px;
}
#lightbox-pagination-prev::after {
  content: "\2039";
}
#lightbox-pagination-next::after {
  content: "\203A";
}
/* BOTTOM */
.lightbox-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.lightbox-gallery-container {
  padding: 5px;
  background-color: black;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  gap: 10px;
  justify-items: center;
  align-items: center;
  overflow-y: scroll;
}
.lightbox-gallery-item {
  width: 100%;
  height: 75px;
  border: 3px solid grey;
  border-radius: 5px;
  background-color: aqua;
  cursor: pointer;
  justify-self: center;
  align-self: center;
}
.lightbox-gallery-action {
  display: flex;
  justify-content: end;
}
.lightbox-gallery-btn{
  border: none;
  color: white;
  background-color: black;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  width: 45px;
  height: 45px;
  font-size: x-large;
}

@media screen and (max-width: 770px) {
  .lightbox-gallery-container {
    grid-template-columns: repeat(7, 1fr);
  }
}

@media screen and (max-width: 1025px) {
  .lightbox-gallery-container {
    grid-template-columns: repeat(10, 1fr);
  }
}